<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>League Table</title>

  <script src="https://unpkg.com/htmx.org@1.9.2"></script>
</head>
<body>
    <form action="{% url 'reset_league' %}" method="post" style="margin-bottom: 1em;">
      {% csrf_token %}
      <button type="submit" class="btn btn-warning">
        Сбросить таблицу и сессию
      </button>
    </form>
    <form method="post">{% csrf_token %}
      <button
        hx-post="{% url 'play_round' %}"
        hx-target="#league-table-container"
        hx-swap="innerHTML"
        class="btn btn-primary mb-3"
      >
        Играть тур
      </button>

      <!-- контейнер, в который будем подставлять новую таблицу -->
      <div id="league-table-container">
        {% include 'football/league_table_body.html' %}
      </div>
    </form>
    <script>

</script>
</body>
</html>